# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift / Xcode / SPM
.build/
.swiftpm/
*.xcodeproj
*.xcworkspace
*.xcuserdata/
DerivedData/

# App Bundles & Build artifacts
dist/
bin/
obj/

# Logs & Temp
*.log
*.tmp
abovediff_opt_tests_*
abovediff_fs_tests_*
abovediff_test_*
